// Background colors:
$orange: #f0581f;
// body
$bc01: #ffffff;

$bc01: #ffffff;
$bc02: #f7f8f8;
$bc03: #f4f5f5;
$bc04: #f4f4f4;
$bc05: #f2f2f2;
$bc06: #8dadd0;
$bc061: #74a6e0;
$bc07: #20b2bb;
$bc08: #82a3c9;
$bc081: #2d2d2d;
$bc82: #597291;
$bc09: #000000;
$bc10: #00000040;

// Text colors:
$tc01: #ffffff;
$tc011: #bbbbbb;
$tc012: #b8b8b8;
// body
$tc02: #b2b2b2;

$tc03: #6fa9eacc;
$tc04: #53abd8;
$tc05: #82a3c9;
$tc051: #749dcc;
$tc06: #959ba1;
$tc07: #999999;
$tc08: #a77575;
$tc09: #1e73be;
$tc10: #6e7884;
$tc11: #70777e;
$tc12: #676056;
$tc121: #555555;
$tc13: #404040;
$tc14: #3e3e3e;
$tc15: #1c1c1cd9;
$tc16: #1c1c1c;
$tc17: #000000;

// Fill colors:
$fcWhite: #ffffff;
$fcGray: #959ba1;
$fcBlack: #000000;

// Border colors:
$borderColor01: #ffffff66;
$borderColor011: #d6d6d6;
$borderColor02: #ffffff;
$borderColor03: #f7f7f7;
$borderColor04: #f4f5f5;
$borderColor05: #f2f2f2;
$borderColor06: #94a3b6;

$primary_button_color: #0081c9;