
.footer {
  position: relative;

  //padding-top: 20px;
  &__container {
    position: relative;
    padding: 0;
  }


  &__m-general-extension-partner {
    position: absolute;
    bottom: -45px;
    left: 15px;
    @media (min-width: $md3+px) {
      position: fixed;
      bottom: 20px;
      left: 25px;
    }

    a {
      img {
        width: 120px;
        @media (min-width: $md11+px) {
          width: 140px;
        }
        @media (min-width: $md3+px) {
          width: 200px;
        }
      }
    }
  }

  &__partner {
    background-color: $bc08;

    .footer__container.container {
      padding: 0;
      margin-right: auto;
      margin-left: auto;
      //@media (min-width: $md4+px) {
      //  width: 100%;
      //  border: 3px solid red;
      //}
    }
  }

  &__row {
    display: flex;
    flex-basis: 100%;
    @media (min-width: $md4+px) {
      justify-content: center;
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    @media (min-width: $md4+px) {
      max-width: 744px;
    }
    @media (min-width: $md5+px) {
      max-width: 960px;
    }

    img {
      box-sizing: border-box;
      width: 30%;
      @media (min-width: $md3+px) {
        width: 25%;
      }
      @media (min-width: $md5+px) {
        width: 20%;
      }
      @media (min-width: $md6+px) {
        width: 16%;
      }
    }
  }

  &__olark-launch-button {
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2px;
    right: 15px;
    border-radius: 100px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    transition: all 0.4s, bottom 0.8s ease-in-out;
    cursor: pointer;
    padding: 0 25px;
    -webkit-font-smoothing: antialiased;

    background-color: $bc08;
    @media (min-width: $md11+px) {
      bottom: 30px;
    }

    @media (min-width: $md3+px) {
      bottom: 54px;
    }

    span {
      display: none;
      @media (min-width: $md3+px) {
        display: inline-flex;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
        font-size: 16px;
        font-weight: 700;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
        white-space: nowrap;
        padding: 0;
        transition: .6s ease-in-out;
        margin-left: 12px;
        line-height: 54px;
        color: $tc01;
      }
    }

    &:hover {
      background-color: $tc051;
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5);
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
      animation-name: loadBubble;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
      animation-duration: .2s;

      transition: .6s ease-in-out;
    }

    svg {
      height: 28px;
      width: 28px;
      margin-top: 15px;
      margin-bottom: 5px;
      margin-right: 0;
    }
  }

  &__bottom__container {
    position: relative;
    z-index: -1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    @media (min-width: $md4+px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      //flex-basis: 100%;
      padding-top: 0;

      //  TODO: flex justify-content
    }
  }

  &__bottom {
    position: relative;
    font-size: 14px;
    line-height: 1;
    color: $tc02;
    border: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    z-index: 1;
    margin: 0;
    @media (min-width: $md4+px) {
      align-items: stretch;
    }
  }

  &__bottom:after {
    content: "";
    position: absolute;
    top: 55px;
    height: 1px;
    width: 100%;
    border-top: 1px solid $bc082;

    @media (min-width: $md4+px) {
      display: none;
    }
  }

  &__social-links {
    display: flex;
    align-self: flex-end;
    z-index: 2;
    position: absolute;
    top: 5px;
    right: 15px;

    a:hover {
      background-color: $tc16;
      transition: all 0.3s ease 0s;
    }

    @media (min-width: $md11+px) {
      left: 50%;
      right: auto;
      transform: translate(-50%, 0);
    }
    @media (min-width: $md4+px) {
      position: relative;
      order: 3;
      top: 5px;
      right: -15px;
      left: auto;

      margin-bottom: 0;
      //margin: 0 0 20px;
      //transform: translate(50%, 0);
    }

    li > a {
      background-repeat: no-repeat;
      background-position: center;
    }

    a {
      display: block;
      width: 34px;
      height: 34px;
      background-color: $bc08;
      border-radius: 50%;
      margin: 2px;
    }

    a:hover {
      background-color: $tc16;
      transition: all 0.3s ease 0s;
    }

    #social-s {
      background-image: url(../public/assets/imgs/2017/01/social-skype.svg);
      background-size: 22px;
    }

    #social-in {
      background-image: url(../public/assets/imgs/2017/01/social-in.svg);
      background-size: 18px;
    }

    #social-m {
      background-image: url(../public/assets/imgs/2017/01/social-mail.svg);
      background-size: 22px;
    }

    order: 1;
    margin: 0 0 20px;
    @media (min-width: $md3+px) {

    }
  }

  &__copyright {
    //margin-bottom: 5px;
    order: 2;

    p {
      font-family: $fontfamilyOpenSans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      color: $tc10;
      margin: 0;
      text-align: center;
    }

    p:nth-child(2) {
      display: none;
      @media (min-width: $md3+px) {
        display: block;
      }
    }

    @media (min-width: $md4+px) {
      order: 2;
    }
  }

  &__empty {
    display: none;
    @media (min-width: $md4+px) {
      display: flex;
      order: 1;
      width: 10%;
    }
  }
}

@import 'olark';
