@import 'null';
@import 'colors';
@import 'fonts';
@import 'menu';
@import 'nav';

@import "./fontawesome-free-5.15.1-web/scss/fontawesome.scss";
@import "./fontawesome-free-5.15.1-web/scss/solid.scss";

body {
  background-color: $bc01;
  color: $tc02;
}
.flex-around {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
