@import 'null';
@import 'colors';
@import 'fonts';
@import 'menu';
@import 'nav';
@import 'nojsnav';
@import 'slider';
@import 'home';
@import 'olark';

@import "./fontawesome-free-5.15.1-web/scss/fontawesome.scss";
@import "./fontawesome-free-5.15.1-web/scss/solid.scss";
@import "./fontawesome-free-5.15.1-web/scss/brands.scss";

body {
  background-color: $bc01;
  color: $tc02;
}

.flex-around {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container,
.left-sidebar {
  box-sizing: border-box;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: $md3+px) {
  .container,
  .left-sidebar,
  .right-sidebar {
    max-width: 744px;
  }
}

@media (min-width: $md4+px) {
  .container,
  .left-sidebar,
  .right-sidebar {
    max-width: 940px;
  }
}

@media (min-width: $md5+px) {
  .container,
  .left-sidebar,
  .right-sidebar {
    max-width: 960px;
  }
}

@media (min-width: $md6+px) {
  .container,
  .left-sidebar,
  .right-sidebar {
    max-width: 1200px;
  }
}

@media (min-width: $md7+px) {
  .container,
  .left-sidebar,
  .right-sidebar {
    max-width: 1400px;
  }
}

@import 'footer';