@import 'null';
@import 'colors';
@import 'fonts';
@import 'menu';
@import 'nav';
@import 'slider';
@import 'home';

@import "./fontawesome-free-5.15.1-web/scss/fontawesome.scss";
@import "./fontawesome-free-5.15.1-web/scss/solid.scss";

body {
  background-color: $bc01;
  color: $tc02;
}

.flex-around {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.container,
.left-sidebar,
.footer__bottom__container {
  box-sizing: border-box;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: $md4+px) {
  .container,
  .left-sidebar,
  .right-sidebar,
  .footer__bottom__container {
    max-width: 940px;
  }
}
