.home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  @media (min-width: $md4+px) {
    //justify-content: flex-start;
    //align-items: center;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
  }

  &__popular {
    display: none;
  }

  &__card-list {
    //flex-basis: 80%;
    display: inline-flex;
    justify-content: flex-start;
  }

  &__cards {
    display: flex;
    //justify-content: flex-start;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $md4+px) {
      padding-right: 20px;
      padding-left: 20px;
      .home__card-list {
        flex: 1 0 80%;
        display: inline-flex;
        justify-content: flex-start;
        max-width: 1170px;

      }

    }
    @media (min-width: $md5+px) {
      padding-right: 30px;
      padding-left: 30px;

    }
    @media (min-width: $md7+px) {

    }
    @media (min-width: $md6+px) {
      display: flex;

      .home__card-list {
        flex-basis: 80%;
        justify-content: flex-start;
        margin-right: 50px;
        padding-left: 30px;
      }
      .home__popular {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex: 1 0 20%;
        justify-content: flex-start;
        max-width: 1170px;

        &-title {
          display: block;
          margin: 0 0 22px;
          text-rendering: optimizelegibility;
          font: normal 30px/30px Open Sans;
          color: $tc16;
        }

        &-nav {
          display: block;
          font-family: $fontTrebuchet;
          font-size: 13px;
          line-height: 18px;
          color: #b2b2b2;
          font-weight: normal;
          padding: 0;
          margin: 0;

          li {
            font-family: $fontTrebuchet;
            font-size: 13px;
            color: #b2b2b2;
            list-style-type: none;
            margin-bottom: 8px;
            font-weight: bold;
            line-height: 20px;
            padding-left: 15px;
            background: url("../public/assets/imgs/list_arr.png") 0 6px no-repeat;

            a {
              line-height: 18px;
              color: $tc05;
              font-size: 13px;
              font-weight: normal;
              font-family: $fontfamilyOpenSans-serif;
              transition: all 0.3s ease 0s;
            }

            a:hover {
              color: $tc17;
              transition: all 0.3s ease 0s;
            }
          }
        }
      }

    }
  }

  //.container {
  //  width: 100%;
  //  //padding-left: 10px;
  //  //padding-right: 10px;
  //  @media (min-width: $md4+px) {
  //    width: 724px;
  //  }
  // @media (min-width: $md5+px) {
  //   max-width: 1170px !important;
  //  }
  //
  //}

  &__card-list {
    display: flex;
    flex-wrap: wrap;
    @media (min-width: $md3+px) {

    }

    .home__card {
      display: flex;
      width: 100%;
      max-width: 450px;
      margin: 0 0 20px 0;
      @media (min-width: $md3+px) {
        flex-basis: 50%;
        padding-right: 15px;
      }

      img {
        margin-bottom: auto;
        margin-right: 20px;
        max-width: 200px;
        width: 50%;
      }

      p, a {
        margin: 0;
      }

      a {
        color: $tc09;

        &:hover {
          color: $tc16;
          transition: all 0.3s ease;

        }
      }

      .fa-envelope:before {
        content: "\f0e0" !important;
      }

      .fa-skype::before {
        content: "\f17e" !important;
      }

      .fa-skype {
        color: $tc04;
        left: -1.3em;
        position: absolute;
        text-align: center;
        line-height: inherit;
        font-size: 14px;
      }

      .skype-i,
      .envelope-i {
        position: relative;
        //margin-bottom: 12px;
        margin-left: 25px;
        font-size: 13px;
        line-height: 32px;
      }

      .envelope-i {
        color: $tc08;
      }

      .skype-i {
        //font-weight: normal;
        //list-style-type: none;
        //font-family: "Open Sans", Arial, sans-serif;
        color: $tc04;
        //position: relative;
        //margin-bottom: 12px;
        //margin-left: 25px;
        //font-size: 13px;
        //line-height: 32px;
      }

    }
  }


  figure, figcaption {
    margin: 0;
    box-sizing: border-box;
  }

  &__list-card-title {
    font-weight: normal;
    list-style-type: none;
    font-family: $fontfamilyOpenSans-serif;
    font-size: 14px;
    line-height: 22px !important;
    color: $tc14;
    margin: 0 0 10px;
  }

  &__span-bold {
    font-weight: 700;
  }

  &__service-title {
    display: flex;
    flex-basis: 100%;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    font-size: 24px;
    font-family: $fontfamilyOpenSans;
    line-height: 30px;
    color: rgba(28, 28, 28, 0.85);
    margin: 30px auto 0 auto;
    padding-bottom: 15px;
    @media (min-width: $md3+px) {
      margin: 30px auto 9px auto;
    }
    @media (min-width: $md6+px) {
      //padding-left: 15%;
    }
  }

  &__after-cards-title {
    text-align: center;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    font-size: 18px;
    font-family: $fontfamilyOpenSans;
    line-height: 30px;
    margin: 30px auto 25px auto;
    cursor: default;
    color: rgba(28, 28, 28, 0.85);
    letter-spacing: 1px;
  }

  .content_plane {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 13px 0;
    margin-top: 43px;
    font-size: 13px;
    background-color: $bc08;
    height: 100%;
    //padding: 0;
    letter-spacing: 1px;
    color: $tc01;
    text-align: center;
    font-weight: 300;

    a {
      padding-bottom: 35px;
    }

    //font-size: 18px;
    //font-family: $fontfamilyOpenSans-serif;
    @media (min-width: $md3+px) {
      margin-top: 0;
      position: relative;
      background-color: $bc08;
      letter-spacing: 1px;
      font-weight: 300;
      font-size: 24px;
      font-family: $fontfamilyOpenSans-serif;
      color: $tc01;
      text-align: center;
    }
  }

  .btn-inline {
    display: inline-flex;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 0.3s ease;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    border-radius: 0px;
    box-shadow: none;
    padding: 0 20px 0;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    font-family: $fontfamilyOpenSans-serif;
    text-shadow: none;
    text-transform: lowercase;
    color: $tc01;
    border: 1px solid $tc01;
    background: $bc08;
    margin-bottom: 2px;
    @media (min-width: $md3+px) {
      letter-spacing: 1px;
      text-decoration: none;
      transition: all 0.3s ease;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      outline: none;
      border-radius: 0px;
      box-shadow: none;
      padding: 0 20px 0;
      height: 34px;
      font-family: $fontfamilyOpenSans-serif;
      text-shadow: none;
      text-transform: lowercase;
      color: $tc01;
      border: 1px solid $bc01;
      background: $tc05;
      margin-bottom: 2px;
    }

    &:hover {
      font-family: $fontfamilyOpenSans-serif;
      //letter-spacing: 1px;
      //display: inline-block;
      //text-align: center;
      //vertical-align: middle;
      //cursor: pointer;
      //border-radius: 0px;
      //padding: 0 20px 0;
      //height: 34px;
      //text-shadow: none;
      //text-transform: lowercase;
      //outline: 0;
      //text-decoration: none;
      //transition: all 0.3s ease;
      //box-shadow: none;
      color: $tc05;
      border: 1px solid $tc01;
      background: $bc01;
      //margin-bottom: 2px;
    }
  }
}

