.jsdev {
  &__title {
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    color: #000;
    margin-top: 35px;
  }

  &__img {
    margin: 0;
    -webkit-align-self: center;
    align-self: center;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: $tc02;
    font-weight: normal;
    box-sizing: border-box;
    /*flex-direction: column;*/
  }

  &__card {

    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: $tc02;
    font-weight: normal;
    box-sizing: border-box;
    display: flex;
    flex: 1 0 40%;
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }

  &__card_icon {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: $tc02;
    font-weight: normal;
    align-self: center;
    margin: 0;
    min-width: 38px !important;
    max-width: 38px !important;
  }

  &__card_post {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: $tc02;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  &__card_title {
    text-align: center;
  }

  &__card_title_bl {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 36px;
    font-weight: 700;
    color: black;
    text-align: center;
  }

  &__card_text {
    text-align: center;
  }

  &__card_text_bl {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: $tc09;
    text-align: center;
  }

  &__text {
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    color: $tc062;
  }


}


@media (min-width: $md3+px) {
  .jsdev {
    //&__title {
    //  text-align: center;
    //  line-height: 28px;
    //  font-size: 20px;
    //  color: #000;
    //  margin-top: 35px;
    //}


    //&__card p {
    //  display: inline-block;
    //}

    &__cards {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      font-size: 13px;
      line-height: 18px;
      color: $tc02;
      font-weight: normal;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
    }

    &__card {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      font-size: 13px;
      line-height: 18px;
      color: $tc02;
      font-weight: normal;
      box-sizing: border-box;
      display: flex;
      flex: 1 0 40%;
      margin-bottom: 30px;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: flex-start;
    }

    &__card_icon {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      font-size: 13px;
      line-height: 18px;
      color: $tc02;
      font-weight: normal;
      align-self: center;
      margin-right: 20px;
      min-width: 50px !important;
      max-width: 50px !important;
    }

    .icon-webdev {

    }

    &__card_post {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      font-size: 13px;
      line-height: 18px;
      color: $tc02;
      font-weight: normal;
      padding-right: 10px;

    }

    &__card_title {
      line-height: 36px;
      font-weight: 700;
      color: $tc062;
      text-align: start;
    }

    &__card_title_bl {
      line-height: 36px;
      font-weight: 700;
      color: black;
      text-align: start;
    }

    &__card_text {
      color: $tc061;
      text-align: start;
    }

    &__card_text_bl {
      color: $tc09;
      text-align: start;
    }

    &__img {
      max-width: 100%;
      -webkit-vertical-align: middle;
      //vertical-align: middle;
      height: auto;
      margin: 0 0 0 10px;
    }
  }
}
