
.top-nav-bar {
  display: none;
}

.hasChildren {
  display: inline-block;
  width: 100%;
  position: relative;
}

.hasChildren:before {
  position: absolute;
  right: 10px;
  content: ">";
  color: $bc10;
}

@media (max-width: $md3+px) {
  .foo-menu {
    position: relative;
    z-index: 1000;
  }

  .menu-active .top-nav-bar {
    z-index: 2;
  }

  .top-nav-bar {
    position: relative;
    background-color: $bc08;
    color: $bc01;
    z-index: 1;

    .am-navbar-title {
      color: $bc01;
    }
  }

  .menu-mask {
    content: ' ';
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $bc09;
    opacity: 0.4;
    z-index: 79;
  }
  .top-nav-bar {
    display: flex;
    position: fixed;
    width: 100%;
  }
  .foo-menu {
    min-height: 60vh;
  }
  .am-flexbox.am-menu.foo-menu.am-flexbox-dir-column.am-flexbox-align-stretch {
    position: fixed;
    top: 45px;
    width: 100%;
  }
}