.olark {
  &-container {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: Times New Roman, Times, serif;
    font-size: medium;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    position: fixed;
    z-index: 2147483646;
    top: 20px;
    //top: inherit;
    //right: 0;

    //888
    //@media (min-width: $md3+px) {
    //  //margin: 0 0 0 50%;
    //  margin-top: 100%;
    //}

    right: 0;
    bottom: 0;
    zoom: 0;
    box-sizing: content-box;
    height: 100%;
    max-width: 300px;
    list-style-type: disc;
    transition: .3s ease-in-out;
    transition: all .6s ease-in-out, top .8s ease-in-out;
    text-align: start;
    text-decoration: none;
    color: #000;
    border: none;
    border-radius: 0;
    border-image: none;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    font-feature-settings: normal;
    direction: ltr
  }

  &-container.active, &-top-bar.active {
    margin-top: 0;
    border-top: 1px solid #fff;
    top: 45px;
    opacity: 1;
    z-index: 5;
    transition: all 1s ease;
    @media (min-width: $md3+px) {
      top: 0;
      border: none;
    }
  }

  &-container, &-top-bar {
    z-index: -1;
    font-variant: normal;
    left: auto;
    display: block;
    visibility: inherit;
    float: none;
    clear: none;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    clip: auto;

    right: 0;
    left: 0;
    //min-width: 0;
    //max-width: none;
    min-height: 0;
    max-height: none;
    //margin: 0;

    //888
    @media (min-width: $md3+px) {
      margin-left: 50%;
    }
    margin-top: 100%;
    opacity: 0;
    transition: all 1s ease;
  }

  &-top-bar {
    position: fixed;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    //position: absolute;
    z-index: 555;
    top: auto;
    bottom: auto;
    box-sizing: border-box;
    height: 40px;
    list-style-type: inherit;
    transition: all 0s ease 0s;
    text-align: inherit;
    color: #fff;
    border: #94a3b6;
    //border-bottom: 1px solid #242424;
    border-radius: 0;
    border-image: none;
    background: #2d2d2d;
    background-color: #82a3c9;
    box-shadow: none;
    direction: inherit;
    font-feature-settings: normal;
    //margin: 0 0 0 50%;
    left: 0;
    right: 0;
  }

  &-top-bar-text {
    font: normal 30px/30px Open Sans;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: .95em;
    font-weight: 700;
    font-style: inherit;
    font-variant: normal;
    line-height: 40px;
    float: left;
    overflow: hidden;
    box-sizing: content-box;
    width: auto;
    max-width: 70%;
    height: 60px;
    padding: 0 0 0 15px;
    cursor: auto;
    transition: all 0s ease 0s;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: .2px;
    text-overflow: ellipsis;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-feature-settings: normal
  }

  &-top-bar-button, &-top-bar-text {
    position: static;
    z-index: auto;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    display: block;
    visibility: inherit;
    clear: none;
    clip: auto;
    min-width: 0;
    min-height: 0;
    max-height: none;
    margin: 0;
    table-layout: auto;
    list-style-position: outside;
    list-style-type: inherit;
    list-style-image: none;
    quotes: "" "";
    counter-reset: none;
    counter-increment: none;
    transform: none;
    transform-origin: 50% 50%;
    text-align: inherit;
    vertical-align: baseline;
    text-indent: 0;
    word-spacing: normal;
    text-transform: none;
    word-break: normal;
    hyphens: manual;
    opacity: 1;
    border: none;
    border-radius: 0;
    border-image: none;
    background-color: transparent;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0 0;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto;
    box-shadow: none;
    text-shadow: none;
    direction: inherit;
    unicode-bidi: normal;
    column-gap: normal;
    column-rule: medium none #000;
    column-span: none;
    columns: auto;
    perspective: none;
    perspective-origin: 50% 50%;
    backface-visibility: visible;
    transform-style: flat
  }

  &-top-bar-button {
    float: right;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    box-sizing: border-box;
    width: 60px;
    max-width: none;
    height: 100%;
    padding: 16px 22px;

    svg {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      width: 10px;
      width: auto;
      height: auto;
      fill: #fff
    }
  }

  &-conversation-container {
    position: relative;
    top: 90px;
    //right: auto;
    //bottom: 52px;
    //left: auto;
    overflow: visible;
    overflow-x: visible;
    overflow-y: auto;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 62px);
    max-height: none;
    padding: 0 10px;
    left: 0;
    right: 0;
    //888
    //@media (min-width: $md3+px) {
    //  margin-left: 50%;
    //  margin-top: 50%;
    //}

    .olark-message-block-container {
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      overflow-x: hidden;
      overflow-y: auto;
      box-sizing: content-box;
      width: auto;
      height: 100%;
      max-height: 100%;
      padding: 0 10px 2px
    }
  }

  &-overlay-module-container.active {
    height: 100%;
    margin-top: 0;
    top: 85px;
    opacity: 1;
    z-index: 5;
    transition: all 1s ease;
    @media (min-width: $md3+px) {
      top: 40px;
    }
  }

  &-overlay-module-container {

    position: fixed;
    z-index: -1;
    top: 40px;
    bottom: 52px;
    overflow: visible;
    overflow-x: visible;
    overflow-y: auto;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 62px);
    padding: 0 10px;
    color: #959ba1;
    background: #fff;
    //left: 0;
    //right: 0;
    //888
    @media (min-width: $md3+px) {
      padding: 0 30px 0 10px;
      margin-left: 50%;
    }
    margin-top: 100%;
    opacity: 0;
    transition: all 1s ease;

    .olark-offline-survey {
      position: static;
      z-index: auto;
      top: auto;
      bottom: auto;
      overflow: visible;
      overflow-x: visible;
      overflow-y: visible;
      box-sizing: content-box;
      width: 100%;
      height: auto;
      //padding: 0;
      color: inherit;
      background-color: transparent;
      background-image: none;
      background-repeat: repeat;
      background-attachment: scroll;
      background-position: 0 0;
      background-clip: border-box;
      background-origin: padding-box;
      background-size: auto;

      .olark-survey-form {
        position: static;
        z-index: auto;
        top: auto;
        bottom: auto;
        overflow: visible;
        overflow-x: visible;
        overflow-y: visible;
        box-sizing: border-box;
        //width: 100%;
        height: 100%;
        padding: 1em 0 0;
        color: inherit;
        background-color: transparent;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0 0;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto;
        //888
        @media (min-width: $md3+px) {
          width: 50%;
        }

        width: 100%;

        &-welcome {
          position: relative;
          z-index: auto;
          top: auto;
          bottom: auto;
          overflow: visible;
          overflow-x: visible;
          overflow-y: visible;
          box-sizing: content-box;
          width: auto;
          height: auto;
          margin: 0 0 .8em;
          padding: 0;
          color: inherit;
          background-color: transparent;
          background-image: none;
          background-repeat: repeat;
          background-attachment: scroll;
          background-position: 0 0;
          background-clip: border-box;
          background-origin: padding-box;
          background-size: auto;

          &-msg {
            font-size: 90%;
            line-height: 1.2;
            position: static;
            z-index: auto;
            top: auto;
            bottom: auto;
            overflow: visible;
            overflow-x: visible;
            overflow-y: visible;
            box-sizing: border-box;
            width: auto;
            height: auto;
            padding: .75em 1em;
            text-align: center;
            color: #404040;
            border: 1px solid #f4f5f5;
            border-radius: 2px;
            background: #f4f5f5
          }
        }

        &-inner {
          position: static;
          z-index: auto;
          top: auto;
          bottom: auto;
          display: table;
          overflow: visible;
          overflow-x: visible;
          overflow-y: visible;
          box-sizing: content-box;
          width: 100%;
          height: auto;
          padding: 0;
          color: inherit;
          background-color: transparent;
          background-image: none;
          background-repeat: repeat;
          background-attachment: scroll;
          background-position: 0 0;
          background-clip: border-box;
          background-origin: padding-box;
          background-size: auto;

          .olark-survey-form-page {
            position: static;
            z-index: auto;
            top: auto;
            bottom: auto;
            display: table-cell;
            overflow: visible;
            overflow-x: visible;
            overflow-y: visible;
            box-sizing: content-box;
            width: 100%;
            height: auto;
            padding: 0;
            vertical-align: middle;
            color: inherit;
            background-color: transparent;
            background-image: none;
            background-repeat: repeat;
            background-attachment: scroll;
            background-position: 0 0;
            background-clip: border-box;
            background-origin: padding-box;
            background-size: auto;

            .olark-survey-form-item-name {
              position: relative;
              z-index: auto;
              top: auto;
              bottom: auto;
              overflow: visible;
              overflow-x: visible;
              overflow-y: visible;
              box-sizing: content-box;
              width: auto;
              height: auto;
              margin: 0 0 .8em;
              padding: 0;
              color: inherit;
              background-color: transparent;
              background-image: none;
              background-repeat: repeat;
              background-attachment: scroll;
              background-position: 0 0;
              background-clip: border-box;
              background-origin: padding-box;
              background-size: auto;

              .olark-survey-form-label {
                font-size: 80%;
                position: static;
                z-index: auto;
                top: auto;
                bottom: auto;
                overflow: visible;
                overflow-x: visible;
                overflow-y: visible;
                box-sizing: content-box;
                width: auto;
                height: auto;
                margin: 0 0 4px;
                padding: 0;
                color: #404040;
                background-color: transparent;
                background-image: none;
                background-repeat: repeat;
                background-attachment: scroll;
                background-position: 0 0;
                background-clip: border-box;
                background-origin: padding-box;
                background-size: auto
              }

              .olark-survey-form-req-icon {
                position: absolute;
                z-index: auto;
                top: auto;
                right: 10px;
                bottom: 13px;
                display: inline;
                overflow: visible;
                overflow-x: visible;
                overflow-y: visible;
                box-sizing: content-box;
                width: 10px;
                height: 10px;
                padding: 0;
                color: inherit;
                background-color: transparent;
                background-image: none;
                background-repeat: repeat;
                background-attachment: scroll;
                background-position: 0 0;
                background-clip: border-box;
                background-origin: padding-box;
                background-size: auto;

                svg {
                  position: static;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  overflow: hidden;
                  width: 10px;
                  transition: all .3s ease;
                  color: inherit;
                  x: 0;
                  y: 0;
                  fill: currentcolor;

                  title {
                    color: inherit
                  }

                  desc {
                    color: inherit
                  }
                }
              }

              input {
                font: inherit;
                font-size: 16px;
                line-height: 19px;
                position: static;
                z-index: auto;
                top: auto;
                bottom: auto;
                display: inline;
                overflow: visible;
                box-sizing: border-box;
                width: 100%;
                height: auto;
                padding: .5em 1.8em .5em .5em;
                transition: all .3s ease;
                vertical-align: middle;
                color: #404040;
                border: 1px solid #f7f8f8;
                border-radius: 2px;
                outline: none;
                background: #f7f8f8
              }
            }

            .olark-survey-form-item-email {
              position: relative;
              z-index: auto;
              top: auto;
              bottom: auto;
              overflow: visible;
              overflow-x: visible;
              overflow-y: visible;
              box-sizing: content-box;
              width: auto;
              height: auto;
              margin: 0 0 .8em;
              padding: 0;
              color: inherit;
              background-color: transparent;
              background-image: none;
              background-repeat: repeat;
              background-attachment: scroll;
              background-position: 0 0;
              background-clip: border-box;
              background-origin: padding-box;
              background-size: auto;

              .olark-survey-form-label {
                font-size: 80%;
                position: static;
                z-index: auto;
                top: auto;
                bottom: auto;
                overflow: visible;
                overflow-x: visible;
                overflow-y: visible;
                box-sizing: content-box;
                width: auto;
                height: auto;
                margin: 0 0 4px;
                padding: 0;
                color: #404040;
                background-color: transparent;
                background-image: none;
                background-repeat: repeat;
                background-attachment: scroll;
                background-position: 0 0;
                background-clip: border-box;
                background-origin: padding-box;
                background-size: auto
              }

              .olark-survey-form-req-icon {
                position: absolute;
                z-index: auto;
                top: auto;
                right: 10px;
                bottom: 13px;
                display: inline;
                overflow: visible;
                overflow-x: visible;
                overflow-y: visible;
                box-sizing: content-box;
                width: 10px;
                height: 10px;
                padding: 0;
                color: inherit;
                background-color: transparent;
                background-image: none;
                background-repeat: repeat;
                background-attachment: scroll;
                background-position: 0 0;
                background-clip: border-box;
                background-origin: padding-box;
                background-size: auto;

                svg {
                  position: static;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  overflow: hidden;
                  width: 10px;
                  transition: all .3s ease;
                  color: inherit;
                  x: 0;
                  y: 0;
                  fill: currentcolor;

                  title {
                    color: inherit
                  }

                  desc {
                    color: inherit
                  }
                }
              }

              input {
                font: inherit;
                font-size: 16px;
                line-height: 19px;
                position: static;
                z-index: auto;
                top: auto;
                bottom: auto;
                display: inline;
                overflow: visible;
                box-sizing: border-box;
                width: 100%;
                height: auto;
                padding: .5em 1.8em .5em .5em;
                transition: all .3s ease;
                vertical-align: middle;
                color: #404040;
                border: 1px solid #f7f8f8;
                border-radius: 2px;
                outline: none;
                background: #f7f8f8
              }
            }

            .olark-survey-form-item-textarea {
              position: relative;
              z-index: auto;
              top: auto;
              bottom: auto;
              overflow: visible;
              overflow-x: visible;
              overflow-y: visible;
              box-sizing: content-box;
              width: auto;
              height: auto;
              margin: 0 0 .5em;
              padding: 0;
              color: inherit;
              background-color: transparent;
              background-image: none;
              background-repeat: repeat;
              background-attachment: scroll;
              background-position: 0 0;
              background-clip: border-box;
              background-origin: padding-box;
              background-size: auto;

              .olark-survey-form-label {
                font-size: 80%;
                position: static;
                z-index: auto;
                top: auto;
                bottom: auto;
                overflow: visible;
                overflow-x: visible;
                overflow-y: visible;
                box-sizing: content-box;
                width: auto;
                height: auto;
                margin: 0 0 4px;
                padding: 0;
                color: #404040;
                background-color: transparent;
                background-image: none;
                background-repeat: repeat;
                background-attachment: scroll;
                background-position: 0 0;
                background-clip: border-box;
                background-origin: padding-box;
                background-size: auto
              }

              .olark-survey-form-req-icon {
                position: absolute;
                z-index: auto;
                top: 25px;
                right: 10px;
                bottom: auto;
                display: inline;
                overflow: visible;
                overflow-x: visible;
                overflow-y: visible;
                box-sizing: content-box;
                width: 10px;
                height: 10px;
                padding: 0;
                color: inherit;
                background-color: transparent;
                background-image: none;
                background-repeat: repeat;
                background-attachment: scroll;
                background-position: 0 0;
                background-clip: border-box;
                background-origin: padding-box;
                background-size: auto;

                svg {
                  position: static;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  overflow: hidden;
                  width: auto;
                  transition: all .3s ease;
                  color: inherit;
                  x: 0;
                  y: 0;
                  fill: currentcolor;

                  title {
                    color: inherit
                  }

                  desc {
                    color: inherit
                  }
                }
              }

              textarea {
                font: inherit;
                font-size: 16px;
                line-height: 1.2;
                position: static;
                z-index: auto;
                top: auto;
                bottom: auto;
                display: inline;
                overflow: auto;
                box-sizing: border-box;
                width: 100%;
                height: 5.5em;
                padding: .5em 1.8em .5em .5em;
                resize: both;
                transition: all .3s ease;
                vertical-align: top;
                white-space: pre-wrap;
                color: #404040;
                border: 1px solid #f7f8f8;
                border-radius: 2px;
                outline: none;
                background: #f7f8f8
              }
            }

            button {
              font: inherit;
              font-size: .95em;
              font-weight: 700;
              position: static;
              z-index: auto;
              top: auto;
              bottom: auto;
              display: inline;
              overflow: visible;
              box-sizing: border-box;
              width: 100%;
              height: auto;
              margin: 10px 0 0;
              padding: 15px 12px;
              cursor: pointer;
              transition: all .3s ease;
              text-align: center;
              text-decoration: none;
              color: #fff;
              border: 0;
              border-radius: 4px;
              outline: none;
              background: #2d2d2d;
              background-color: #20b2bb;
              box-shadow: 0 1px 1px rgba(0, 0, 0, .1)
            }
          }
        }
      }
    }
  }
}