div#olark-container {
  top: 45px !important;
  @media (min-width: $md3+px) {
    top: 0 !important;
  }

  .olark-top-bar {
    background-color: $bc08 !important;
    border-color: $borderColor06 !important;
  }

  .olark-overlay-module-container {
    transition: all 1s ease !important;
  }
}

#olark-wrapper {
  button.olark-launch-button {
    background-color: $bc08 !important;
    bottom: 2px !important;
    right: 15px !important;

    &:hover {
      background-color: $tc051 !important;
    }

    @media (min-width: $md3+px) {
      bottom: 54px !important;
    }
  }
}