#post-1797 {
  .slick-slider.customers-slider.slick-initialized {
    display: flex;
    min-width: 0;
    border: 3px solid #20b2bb;

    .slick-list {
      border: 3px solid #20bb2f !important;
      //min-width: 0;
      width: 100% !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;

      .slick-track {
        opacity: 1;
        transform: none !important;
        border: 3px solid #b6bb20;
        display: flex;
        justify-content: space-between;
        align-items: center;
        //min-width: 0;
        //width: 0 !important;
        width: 100% !important;

        .slick-slide {
          display: none !important;
          width: 0 !important;
          border: 3px solid #6120bb;
        }

        .slick-slide.slick-active {
          border: 3px solid #bb205e;

          display: flex !important;
          flex-grow: 1;

          > div {
            min-width: 0;
            width: 100%;
            border: 2px solid #00ff7b;

          }

          .company-img {
            border: 2px solid orangered;
            margin: 5%;
            padding: 10px;
            display: flex !important;

            min-width: 0;
            max-width: 90%;

            img {
              border: 2px solid #000;

              max-width: 100%;
              height: auto;

              //border: 2px solid greenyellow;

            }
          }

        }
      }
    }

    //  display: flex;
    //  min-width: 0;
    //
    //  //min-height: 0;
    //  margin: 40px auto 0 auto;
    //  @media (min-width: $md6+px) {
    //    //width: 850px;
    //  }
    //
    //  .slick-list {
    //    display: flex;
    //    border: 1px solid red;
    //    overflow: hidden;
    //    //background-color: transparent;
    //    position: relative;
    //    margin: 0;
    //    padding: 0;
    //    min-width: 0;
    //    width: 100%;
    //    align-items: flex-start;
    //
    //    .slick-track {
    //      //border: 5px solid blue;
    //      display: flex;
    //      //align-items: stretch;
    //      display: flex;
    //      min-width: 0;
    //      width: 100%;
    //      //align-items: stretch;
    //      //justify-content: stretch;
    //
    //      align-items: flex-start;
    //
    //      .slick-slide {
    //        //display: none;
    //      }
    //
    //      .slick-slide.slick-active {
    //        display: flex;
    //        border: 3px solid #0af0ba;
    //        flex-grow: 1;
    //
    //        > div {
    //          width: 100%;
    //
    //        }
    //
    //        //width: 100%;
    //
    //        .company-img {
    //          border: 2px solid orangered;
    //          margin: 5%;
    //          padding: 10px;
    //          display: flex !important;
    //          //position: relative;
    //          //display: flex;
    //          //justify-content: center;
    //          //align-items: flex-start;
    //          min-width: 0;
    //
    //          img {
    //            //align-self: center;
    //            //flex: 0 0 auto;
    //
    //            max-width: 100%;
    //            height: auto;
    //            //height: auto;
    //            //max-width: 100%;
    //            //display: flex;
    //            //max-width: 100%;
    //            //height: auto;
    //            //vertical-align: middle;
    //            border: 2px solid greenyellow;
    //            //object-fit: contain;
    //          }
    //        }
    //      }
    //
    //    }
    //  }
    //
  }

  //
  //
  //.slick-slider .slick-track,
  //.slick-slider .slick-list {
  //  display: flex;
  //  align-items: center;
  //  -webkit-transform: translate3d(0, 0, 0);
  //  -moz-transform: translate3d(0, 0, 0);
  //  -ms-transform: translate3d(0, 0, 0);
  //  -o-transform: translate3d(0, 0, 0);
  //  transform: translate3d(0, 0, 0);
  //}

}