#post-1797 {
  @import 'slick/slick';
  @import 'slick/slick-theme';

  .company-img {
    border: 1px solid #000;
    margin: 5%;
    padding: 10px;
    display: flex !important;

    min-width: 0;
    max-width: 90%;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .slick-list {
    overflow: hidden;
  }

  ul.slick-dots {
    position: absolute;
    bottom: -70px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: block;

    li.slick-active {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;

      button {
        margin: auto;
        -webkit-tap-highlight-color: transparent;
        list-style: none;
        display: block;
        width: 1px;
        height: 1px;
        padding: 2px;
        opacity: .25;
        background-color: #000;
        border-radius: 50%;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;

        &:before {
          display: none;
        }
      }
    }

    li {
      position: relative;
      display: inline-block;

      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;

      button {
        margin: 0 auto;
        list-style: none;
        display: block;
        width: 1px;
        height: 1px;
        padding: 2px;
        background-color: #000;
        border-radius: 50%;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;

        &:before {
          display: none;
        }
      }
    }
  }
}